.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container h1{
    padding-bottom: 15px;
    font-family: Arial, sans-serif;
}

.container form{
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    gap: 12px;
    border: 1px solid white;
}

.container input{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #2e2e2e;
    font-size: 14px;
    outline: none;
}

.container input:focus{
    border: 1px solid #555;
}

.container button{
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #555;
    color: white;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #777;
}


